{% extends "base_generic.html" %}

{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/class.css' %}">
{% endblock %}

{% block content %}
    <!--Jumbotron-->
    <div class="jumbotron text-center mdb-color lighten-2 white-text z-depth-2">

        <!--Title-->
        <h1 class="card-title h2-responsive mt-2 font-bold"><strong>{{ class.name }}</strong></h1>
        <!--Subtitle-->
        <div><strong>Professor {{class.teacher}}</strong></div>
        <div>{{class.description}}</div>
        <!-- <p class="mt-4"><strong>Students think this class is...</strong></p> -->
        <!-- <h1>4/5</h1> -->
        <!-- <div><i>Good! - Recommended class!</i></div> -->
        <hr class="my-4 rgba-white-light">

        <div class="review-block-rate">
            <button type="button" class="btn btn-warning btn-xs {% if class.star_rating < 1 %} btn-grey {% endif %}" aria-label="Left Align">
                <i class="material-icons">star</i>
              </button>
            <button type="button" class="btn btn-warning btn-xs {% if class.star_rating < 2 %} btn-grey {% endif %}" aria-label="Left Align">
                            <i class="material-icons">star</i>
                        </button>
            <button type="button" class="btn btn-warning btn-xs {% if class.star_rating < 3 %} btn-grey {% endif %}" aria-label="Left Align">
                            <i class="material-icons">star</i>
                        </button>
            <button type="button" class="btn btn-warning btn-xs {% if class.star_rating < 4 %} btn-grey {% endif %}" aria-label="Left Align">
                            <i class="material-icons">star</i>
                        </button>
            <button type="button" class="btn btn-default btn-xs {% if class.star_rating < 5 %} btn-grey {% endif %}" aria-label="Left Align">
                            <i class="material-icons">star</i>
                        </button>
        </div>
        <button type="button" class="btn btn-outline-white"> <a href="{{review.review.get_absolute_url }}">Review Class</a> <i class="fa fa-diamond ml-1"></i></button>
    </div>
    <!--Jumbotron-->

    <div class="container">
        {% for review in review_list %}
            <div class="row review-section">
                <div class="col-xs-2 col-sm-2 col-md-2 user-profile-comment">
                    <img class="user-profile-img" src="https://image.flaticon.com/icons/svg/163/163801.svg">
                    <div class="user-profile-year">{{review.review}}</div>
                </div>
                <div class="col-md-10">
                    <div class="review">{{review.text}}</div>
                    <div class="review-rating">
                        <!-- <span class="vote upvote"><img src="https://image.flaticon.com/icons/svg/126/126473.svg"> </span>
                        <span class="vote downvote"><img src="https://image.flaticon.com/icons/svg/126/126098.svg"></span>
                        <span class="good-rating">+5</span> -->
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col d-flex justify-content-center">
                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success"><a href="{{review.review.get_absolute_url }}">Review this class!</a></button>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block JS %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {% endblock %}
