{% extends "base_generic.html" %}

{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
  
{% block Bootstrap %}
    <!-- MDBootstrap Stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js"></script>

    <!-- Bootstrap Stuff -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="container-whole">
    <div class="profile-banner">
            <table class="header-table">
                <tr>
                    <td>
                    </td>
                    <td>
                        <h3 class="header-title">Reviews</h3>
                    </td>
                    <td>
                        <h3 class="header-title">Rank</h3>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <h3 class="rank-number">{{reviews.count}}</h3>
                    </td>
                    <td>
                        <h3 class="rank-number">Novice</h3>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>

        <div class="content-background">
        <!-- Profile Card -->
        <div class="profile-card">
          <div class="profile-card-inner">
                {% load static %}
                <img src="{% static "images/"|add:user.classdooruser.profileImage" %}" class="profile-pic">
                <h4 class="username" align="middle">{{user.get_username}}</h4>
                <hr class="bold-hr">
                <p class="pro-info"><strong>School:</strong> {{user.classdooruser.school}}</p>
                <p class="pro-info"><strong>Major:</strong>  {{user.classdooruser.major}}</p>
                <hr>
                <p class="pro-info"><strong>Email:</strong> {{user.email}}</p>
                <p class="pro-info"><strong>Password:</strong> ********</p>
                <!--<a class="btn btn-primary" href="profile_edit.html" role="button">Edit</a>-->
          </div>
        </div>
        <!--End Profile Card-->

        <!--Recommended Classes-->
        <div class="recommend-classes" height="300px">
            <h2 class="recommend-title">Recommended Classes</h2>
            {% for course in courses %}
            <!-- Class Card -->
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3 class="flip-card-title">{{course.name}}</h3> 
                    <p class="course-name-text">Intro to Web-Programming</p> 
                    <p class="instructor-text">{{course.teacher.first_name}} {{course.teacher.last_name}}</p>
                    {% if course.starRating < 1 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if course.starRating < 2 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if course.starRating < 3 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if course.starRating < 4 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if course.starRating < 5 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    <p class="hover-inst">Hover for description</p>
                </div>
                <div class="flip-card-back">
                  <h3 class="flip-card-title">{{course.name}}</h3> 
                  <p class="desc-text">{{course.description|truncatewords:15}}</p> 
                  <a class="btn btn-primary see-more-btn" href="{{course.get_absolute_url}}" role="button">See more</a>
                </div>
              </div>
            </div>
            <!--End Class Card-->
            {% endfor %}
        </div>
        <!--End Recommended Classes-->

        <div class="written-reviews">
            <h3> My Reviews</h3>
            {% for review in reviews %}
            <!-- Review Card -->
            <div class="review-card">
                <a href="{{review.courseOfReview.get_absolute_url}}" style="text-decoration:none; color:#000;"></a>
              <div class="review-card-inner">
                <h4>{{review.courseOfReview}} - {{review.title}}</h4>
                    {% if review.starRating < 1 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if review.starRating < 2 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if review.starRating < 3 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if review.starRating < 4 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                    {% if review.starRating < 5 %}
                        {% load static %}
                        <img src="{% static "images/star-open.gif" %}" class="stars">
                    {% else %}
                        {% load static %}
                        <img src="{% static "images/star-gold.gif" %}" class="stars">
                    {% endif %}
                <h6 class="review-text"> {{review.text}}</h6>
              </div>
            </div>
            <!--End Review Card-->
            {% endfor %}
        </div>
        <a href="https://www.freepik.com/free-photos-vectors/cartoon">Cartoon vector created by Freepik</a>
        </div>
    {% else %}
        <div class="must-login" align="center">
            <h4> You must login to view this page </h4>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
        </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}
