{% extends "base_generic.html" %}

{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/WriteReviewStyles.css' %}">
{% endblock %}

  {% block Bootstrap %}
    <!-- Bootstrap Stuff -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% endblock %}

{% block content %}

<div id="body-elements">
<!------ Star Rating ---------->
<h2>{{course_name}}</h2>
<h3>How would you rate this class?</h3>
<div class="review-block-rate">
    <button type="button" class="btn btn-warning btn-xs star-btn" aria-label="Left Align">
        <i class="material-icons">star</i>
        </button>
        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
        <i class="material-icons">star</i>
        </button>
        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
        <i class="material-icons">star</i>
        </button>
        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
        <i class="material-icons">star</i>
        </button>
        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
        <i class="material-icons">star</i>
        </button>
</div>

<div class="form-group">
    <label for="exampleFormControlSelect1">What grade did you recieve in this class?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>A</option>
      <option>A-</option>
      <option>B+</option>
      <option>B</option>
      <option>B-</option>
      <option>C+</option>
      <option>C</option>
      <option>C-</option>
      <option>D+</option>
      <option>D</option>
      <option>D-</option>
      <option>F</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Review Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="An awesome title for this review!">
  </div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Write a Review</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Tell us about your experience in this class..."></textarea>
</div>

<a class="btn btn-outline-primary" href="#" role="button">Easy</a>
<a class="btn btn-outline-primary" href="#" role="button">Hard</a>
<a class="btn btn-outline-primary" href="#" role="button">Interesting</a>
<a class="btn btn-outline-primary" href="#" role="button">Attendence Not Mandatory</a>
<a class="btn btn-outline-primary" href="#" role="button">Gen-Ed</a>
<a class="btn btn-outline-primary" href="#" role="button">Great Professsor</a>
<a class="btn btn-outline-primary" href="#" role="button">Boring</a>
<a class="btn btn-outline-primary" href="#" role="button">Lots of Homework</a>
<a class="btn btn-outline-primary" href="#" role="button">Exam-heavy</a>

<button type="button" class="btn btn-primary btn-lg btn-block" id="submit-btn">Submit Review</button>
 <!--How to link this data during Submit so it writes to the database?-->

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}