{% extends 'base.html' %}
{% load static %}
{% block title %} profile {% endblock title %}
{% block content%}
  	<div class="container-fluid">
      <!-- Here is where the nav bar would go -->
      <!-- <br/> -->
  		<div class="row">
        <div class="col-12">
          <img src="{% static "img/profile_picture.png"%}" class="profile">
          <h2 class="profile">Firstname Lastname</h2>
        </div>
  		</div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-6 shaded">
          <!-- Will be filled out with js or python -->
          <span class="block">Email: example@umass.edu</span>
          <span class="block">Credits taken: n_credits</span>
          <span class="block">Credits left: 90 + 30*(number of majors) - n_credits</span>
          <button type="button">Manage classes taken</button>
          <button type="button">Manage Friends</button>
        </div>
      </div>
  	</div>
    {% endblock %}
