/*
user css
*/
#user-pic {
  height: 400px;
  width: 400px;
  margin-top: 30px;
  border-radius: 50%;
}
.user-name {
	text-align: center;
}
.user-name h1 {
  	color: orange;
    font-weight: bold;
    padding: 30px 0px;
}
.user-name p {
  color: orange;
  font-weight: bold;
  padding: 20px 0px;
}

.user-bio {
	padding: 5px 100px 5px 100px;
}

.user-bio p {
	color: white;
	padding: 10px 100px 10px 100px;
}

.user-editForm {
  margin: 5px 100px 5px 100px;
  text-align: center;
}

.fav-movie h4 {
  	color: orange;
    font-weight: bold;
    padding: 30px 0px 10px 60px;
}

.fav-movie-list img {
  height: 400px;
  width: 270px;
  margin: 10px 10px 10px 60px;
}

.bio-label{
  font-weight: bold;
  color:orange;
}

.match-list{
  margin-left:40px;
  padding:10px 30px 10px 30px;
  display: inline-block;
}

.match-item{
  width:300px;
  margin-left:20px;
  border: solid 2px white;
	border-radius: 10px;
	padding:10px 20px 10px 20px;
}

.match-list h4 {
  color: orange;
  font-weight: bold;
  padding: 20px 0px 10px 0px;
}