#HomePage_MainContent{
    padding: 20%;
}

#HomePage_MainContent{
    
    /* The image used */
    background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbarTitle {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100000 !important;
}

#content {
    position: relative;
    top: 60px;
}
