body {
    background: #F5f5f5;
}

#loginContainer {
    width: 30%;
    margin: 0 auto;
}

#loginSubmit {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px; 
    text-transform: uppercase;
    width: 100%;
    color: white;
    background: #4385F4;
    height: 45px;
}

#loginTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px; 
    color: #4385F4;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#navbarTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#formUsername:empty:before {
/*
    content: 'Enter username';
  position: absolute;
  left: 5px;
  top: 0;
  color: #bbb;
*/
    background: green;
}