.written-reviews{
	float:none;
	margin-top: 300px;
	margin-left: 30px;
	margin-right: 100px;
  background-color: #fff6dd;
}

.bold-hr{
    background-color: #000000;
    border: 0 none;
    height: 4px;
}

.profile-banner{
	height: 200px;
	width: 100%;
	background: linear-gradient(#b2ddff, #FFF);
	border-bottom: 5px solid #000;
}

.profile-card {
  border-style: solid;
  background-color: #FFFFFF;
  width: 250px;
  height: 463px;
  perspective: 1000px;
  margin: 30px;
  margin-top: -150px;
  float:left;
  padding-top: 10px;
}

.review-card {
  border-style: solid;
  background-color: #eaf6ff;
  width: 99.5%;
  height: 150px;
  perspective: 1000px;
  margin: 30px;
  margin-top: 0px;
  float:left;
}

.review-card:hover {
  border-style: solid;
  background-color: #FFF;
  width: 100%;
  height: 151px;
  perspective: 1000px;
  margin: 25px;
  transition-duration: 0.15s;
  margin-top: 0px;
  float:left;
}

.review-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.review-card-inner:hover {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 220px;
  perspective: 1000px;
  margin: 30px;
  float:left;
}

.flip-card:last-of-type {
  background-color: transparent;
  width: 250px;
  height: 220px;
  perspective: 1000px;
  margin: 30px;
  float:left;
}

.flip-card-inner {
  border-style: solid;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  padding-top:10px;
  background-color: #eaf6ff;
  color: black;
  z-index: 2;
}

.flip-card-back {
  padding-top:10px;
  background-color: #FFFFFF;
  color: #000000;
  transform: rotateY(180deg);
  z-index: 1;
}

.stars{
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.starsR{
	align: left;
	width: 20px;
	height: 20px;
	margin-top: 0px;
}

.instructor-text{
	margin-top: -15px;
}
.hover-inst{
	margin-top: 20px;
	color: #d84141;
}

.flip-card-title {
  font-size: 1.7em;
}

.desc-text{
  text-align: left;
	font-size: 1.0em;
	padding: 5px;
	padding-bottom: -50px;
}

.profile-pic{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border: 3px solid #000;
  background: #ffffff;
}

.username{
	margin-top: 15px;
}

.pro-info{
	text-align: left;
	padding-left: 10px;
	margin-top:-10px;
}

.recommend-classes{
	padding-top: 15px;
}
.recommend-title{
	margin-left: 15px;
}

.review-text{
  padding-top: 15px;
  maring-top: 30px;
	font-size: 1.0em;
}

.table-header{
	width: 100%;
}

table{
	width: 100%;
	height:200px;
}

td{
	padding-left: 20px;
	width: 25%;	

}

.rank-number{
	text-align: center;
	margin-top:-70px;
	color: #9b8204;
}

.header-title{
	padding-top: 20px;
	text-align: center;
}

.content-background{
	background-color: #fff6dd;
	height: auto;
  padding-bottom: 10px;
  padding-left: 10px;
}

.btn{
	margin-top: -80px;
}

.must-login{
  margin-top: 200px;
}

.container-whole{
  background-color: #ff0000;
}