.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

#body-elements {
    padding-top:50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.form-group{
  padding-top: 20px;
}

#submit-btn{
  margin-top: 30px;
}