{% extends 'Catch/navbar.html' %}
{% block content %}

{% load staticfiles %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" style="background-color:white;">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum, ante sit amet faucibus rutrum, metus ex lacinia diam, sit amet pellentesque mi nibh id elit. Integer interdum neque scelerisque, tincidunt lorem ut, consequat lectus. Quisque nec vulputate mi, non venenatis leo. Suspendisse potenti. Mauris et sem hendrerit, efficitur leo sed, faucibus erat. Quisque ultrices, nisl non volutpat bibendum, urna turpis gravida arcu, a efficitur nulla risus eget orci. Aenean ut auctor lectus. Nam nec justo convallis, volutpat orci eu, cursus ligula. Duis et posuere odio. Ut efficitur malesuada pharetra. Aliquam suscipit neque et ante egestas tempus. Proin pretium odio et ex sagittis luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec finibus ex nibh, ut eleifend lacus condimentum in. Donec interdum sem nulla, sed bibendum tortor accumsan a. Praesent feugiat et mi eget sagittis.
      </p>
    </div>

    <div class = "col-sm-4" style = "background-color:white;">
      <img src="{% static 'Catch/dog.jpg' %}" class="img-circle" alt="dog">
    </div>
  </div>

  <div class="row">
    <div class = "col-sm-4" style = "background-color:white;">
      <img src="{% static 'Catch/cat.jpg' %}" class="img-rounded" alt="cat">
    </div>
    <div class="col-sm-8" style="background-color:white;">
      <p>
        Pellentesque dolor orci, scelerisque in elementum eget, eleifend id arcu. Nullam fermentum faucibus vehicula. Sed lobortis, urna vel sollicitudin tempor, risus neque blandit felis, sit amet accumsan enim purus vel diam. Ut condimentum facilisis quam id semper. Quisque faucibus mi dolor, auctor faucibus ex sagittis non. Nunc aliquet ipsum sit amet facilisis tincidunt. Nunc pharetra arcu nec ex vestibulum, et congue mauris efficitur. Curabitur in vestibulum dolor. Praesent id condimentum risus. Nam eget dui sit amet justo dictum posuere. Pellentesque consequat nunc nec turpis egestas mattis. Quisque aliquam magna nec urna hendrerit molestie. Cras sagittis pharetra sem at suscipit.</p></div>
  </div>
</div>

{% endblock %}
