{% extends 'Catch/navbar.html' %}
{% block Events_active %}active{% endblock %}


{% block content %}

<div class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-12 col-md-7">
      <div class = "panel panel-default">
        <div class = "panel-body">
          <form class ="form-horizontal" action ="" method = "post" encType = "multipart/form-data">
            {% csrf_token %}
            {% include 'Catch/form-template.html' %}
            <div class = "form-group">
              <div class = "col-sm-offset-2 col-sm-10">
                <button type="submit" class = "btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

        <!-- <form>
            Name of Event?<br>
            <input type="text" name="eventname"><br>

            Which Pet?<br>
            <select name="usersDogs">
                <option value="tiger">tiger</option>
                <option value="boonk">boonk</option>
                <option value="powderpower">powderpower</option>
                <option value="audi">Audio</option>
              </select><br>

              Where at UMASS?<br>
              <select name="location">
                <option value="ILC">ILC</option>
                <option value="Campus Center">Campus Center</option>
                <option value="ISB">ISB</option>
                <option value="audi">Audio</option>
              </select><br>

              Short descriton<br>
              <input type="text" name="eventname"><br>

              Capacity?<br>
              <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select><br>

        </form> -->
