{% extends 'Catch/navbar.html' %}
{% block content %}

{% load staticfiles %}

<ul>
    <li><a href="default.asp">Hosting</a></li>
    <li><a href="news.asp">Going</a></li>
    <li><a href="contact.asp">Interested</a></li>
    <li><a href="about.asp">Following</a></li>
</ul>

<div class="container">
  <table class="table">
    <tbody>
      <tr>

        <td><img src="{% static 'Catch/dog.jpg' %}"></td>
        <td>
          <div>Host: You</div>
          <div> Name: Dave's Dog Party!</div>
          <div>Address: 123 Street City, 01010</div>
          <div>Date: 11/11/2018</div>
          <div>Time: 1 pm </div>
          <div>Capacity: 5/10</div>
        </td>
      </tr>

      <tr>
        <td><img src="{% static 'Catch/cat.jpg' %}"></td>
        <td>
          <div>Host: Cathy</div>
          <div> Name: Cathy's Cat Compendium!</div>
          <div>Address: 100 Street City, 02090</div>
          <div>Date: 10/10/2018</div>
          <div>Time: 10 am </div>
          <div>Capacity: 99/100</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
