
{% extends 'Catch/navbar.html' %}
{% block content %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="{% static 'Catch/profilepicture.jpg' %}" class="img-square" alt="profilepicture">
      </div>
      <div class="col-sm-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum, ante sit amet faucibus rutrum, metus ex lacinia diam, sit amet pellentesque mi nibh id elit. Integer interdum neque scelerisque, tincidunt lorem ut, consequat lectus. Quisque nec vulputate mi, non venenatis leo. Suspendisse potenti. Mauris et sem hendrerit, efficitur leo sed, faucibus erat. Quisque ultrices, nisl non volutpat bibendum, urna turpis gravida arcu, a efficitur nulla risus eget orci. Aenean ut auctor lectus. Nam nec justo convallis, volutpat orci eu, cursus ligula. Duis et posuere odio. Ut efficitur malesuada pharetra. Aliquam suscipit neque et ante egestas tempus. Proin pretium odio et ex sagittis luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec finibus ex nibh, ut eleifend lacus condimentum in. Donec interdum sem nulla, sed bibendum tortor accumsan a. Praesent feugiat et mi eget sagittis.
        </p>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-4" style="background-color:white;">
      <img src="{% static 'Catch/goldenretriever.jpg' %}" alt="profilepicture">
    </div>
    <div class = "col-sm-8" style = "background-color:white;">
      <p>Name: Cardie</p>
      <p>Age: 8</p>
      <p>Breed: Golden Retriever</p>
      <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum, ante sit amet faucibus rutrum, metus ex lacinia diam, sit amet pellentesque mi nibh id elit. Integer interdum neque scelerisque, tincidunt lorem ut, consequat lectus. Quisque nec vulputate mi, non venenatis leo. Suspendisse potenti. Mauris et sem hendrerit, efficitur leo sed, faucibus erat. Quisque ultrices, nisl non volutpat bibendum, urna turpis gravida arcu, a efficitur nulla risus eget orci. Aenean ut auctor lectus. Nam nec justo convallis, volutpat orci eu, cursus ligula. Duis et posuere odio. Ut efficitur malesuada pharetra. Aliquam suscipit neque et ante egestas tempus. Proin pretium odio et ex sagittis luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec finibus ex nibh, ut eleifend lacus condimentum in. Donec interdum sem nulla, sed bibendum tortor accumsan a. Praesent feugiat et mi eget sagittis.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" style="background-color:white;">
      <img src="{% static 'Catch/blacklab.jpg' %}" alt="black lab">
    </div>
    <div class = "col-sm-8" style = "background-color:white;">
      <p>Name: Duncan</p>
      <p>Age: 14</p>
      <p>Breed: Black Labrador</p>
      <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum, ante sit amet faucibus rutrum, metus ex lacinia diam, sit amet pellentesque mi nibh id elit. Integer interdum neque scelerisque, tincidunt lorem ut, consequat lectus. Quisque nec vulputate mi, non venenatis leo. Suspendisse potenti. Mauris et sem hendrerit, efficitur leo sed, faucibus erat. Quisque ultrices, nisl non volutpat bibendum, urna turpis gravida arcu, a efficitur nulla risus eget orci. Aenean ut auctor lectus. Nam nec justo convallis, volutpat orci eu, cursus ligula. Duis et posuere odio. Ut efficitur malesuada pharetra. Aliquam suscipit neque et ante egestas tempus. Proin pretium odio et ex sagittis luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec finibus ex nibh, ut eleifend lacus condimentum in. Donec interdum sem nulla, sed bibendum tortor accumsan a. Praesent feugiat et mi eget sagittis.</p>
    </div>
  </div>
</div>


</body>
</html>
{% endblock %}
