{% extends "base_generic.html" %}

{% block content %}
	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-8 gedf-main working-playlist">
	 			<div class="card gedf-card playlist-card">
	 				<div class="card-body">
	 					<h1>Current Playlist</h1>
						<!-- Link to playlist settings -->
						<a href="playlistSettings.html">Playlist Settings</a> 
	 					<table class="table table-hover">
	 						<tr scope="row"><th>Song Name</th><th>Artist</th><th>Vote</th></tr>
	 						{% for song in current_playlist %}
	 							<tr><td class= "songName">{{ song.name }}<td><td class= "artistName">{{ song.artist }}</td><td class="vote">{{ song.vote }}</td></tr>
	 						{% endfor %}
	 					</table>
	 				</div>
	 			</div>
	 			
	 		</div>

	 		<div class="col-md-4">
	 			<div class="card gedf-card search-box">
	 				<div class="card-body">
	 					<h1>Add Songs</h1>
	 						<form class="form-inline">
            					<div class="input-group">
                					<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                						<div class="input-group-append">
                    						<button class="btn btn-outline-primary" type="button" id="button-addon2">
                        						<i class="fa fa-search"></i>
                    						</button>
                						</div>
            					</div>
        					</form>
        					<table class="table table-striped">
        						{% for song in song_suggestions %}
        							<tr><td>{{ song.name }}</td><td>{{ song.artist }}<td>+</td></tr>
        						{% endfor %}
        					</table>
	 				</div>
	 			</div>

	 			<div class="card gedf-card contributor-box">
	 				<div class="card-body">
	 					<h1>Contributors</h1>
	 					<table class="table table-striped">
	 						{% for user in contributors %}
        						<tr><td>{{ user.name }}</td><td>{{ user.profile }}</td></tr>
        					{% endfor %}
        					</table>
	 				</div>
	 			</div>

	 		</div>

		</div>
	</div>
{% endblock %}
                    
