{% extends "base_generic.html" %}

{% block content %}
    		<div class="container-fluid gedf-wrapper">
			<div class="row">
				<div class="col-md-4">
					<div class="card gedf-card popular playlists">
						<div class="card-body">
							<h2>Popular Playlists</h2>
								<table class="table table-striped">
									<tr scope="row"><th>Playlist Name</th><th>Creation Date</th><th>Private or Public</th></tr>
									{% for playlist in popular_playlists %}
									<tr><td class="playlistName">{{ playlist.playlist_name }}</td><td>{{ playlist.playlist_creation_date }}</td><td>{{ playlist_is_private }}</td></tr>
									{% endfor %}
									<!-- note: we can decide listeners by # of exports 
										playlist_listeners should query number of exports
										TODO: Add variable to keep track of num ber of exports-->
								</table>
						</div>
					</div>
				</div>

		 		<div class="col-md-4">
 					<div class="card gedf-card popular songs">
 						<div class="card-body">
 							<h2>Popular Songs</h2>
 								<table class="table table-striped">
									<tr scope="row"><th>Song Name</th><th>Artist</th><th>Genre</th></tr>
				 					{% for song in popular_songs %}
									<tr><td class="songName">{{ song.title }}</td><td>{{ song.artist }}</td><td>{{ song.genre }}</td></tr>
									<!-- song_playlists_number should query a count of  the number of playlists a song appears -->
									{% endfor %}
				 				</table>
	 					</div>
			 		</div>

	 			</div>

				<div class="col-md-4">
		 			<div class="card gedf-card filters">
		 				<div class="card-body">
		 					<h2>Filters</h2>
								<table class="table table-hover">
									{% for genre in genres %}
									<tr><td class="genre">{{ genre.genre_name }}</td></tr>
									{% endfor %}
									
								</table>
			 			</div>
	 				</div>
				</div>
			</div>
		</div>

{% endblock %}

