{% extends "base_generic.html" %}

{% block content %}
	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-5 gedf-main">
	 			<div class="card gedf-card ">
	 				<div class="card-body">
	 					<h2>IP Playlists</h2>
		 					<table class="table table-hover">
                                <tr scope="row"><th>Playlist Name</th><th>Creation Date</th><th>Private or Public</th></tr>
		 						{% for playlist in IP_playlists %}
		 						<tr scope="row"><td>{{ playlist.playlist_name }}</td><td>{{ playlist.playlist_creator_id }}</td><td>{{ playlist.playlist_vote_time }}</td></tr>
		 						{% endfor %}
							</table>
	 				</div>
	 			</div>

	 			<div class="card gedf-card">
	 				<div class="card-body">
	 					<h2>Top 10 Playlists</h2>
		 					<table class="table table-striped">
                            <tr scope="row"><th>Playlist Name</th><th>Creation Date</th><th>Description</th></tr>
		 						{% for playlist in top_10 %}
			 					<tr scope="row"><td>{{ playlist.playlist_name }}</td><td>{{ playlist.playlist_creation_date }}</td><td>{{ playlist.playlist_description }}</td></tr>
			 					{% endfor %} <!-- todo: add 'view all' button and page-->
		 					</table>
	 				</div>
	 			</div>
	 			
	 		</div>

	 		<div class="col-md-5">
	 			<div class="card gedf-card public-playlists">
	 				<div class="card-body">
	 					<h2>Public Playlists</h2>
	 						<table class="table table-striped">
                                <tr scope="row"><th>Playlist Name</th><th>Creation Date</th><th>Description</th></tr>
	 							{% for playlist in public_playlists %}
			 					<tr scope="row"><td>{{ playlist.playlist_name }}</td><td>{{ playlist.playlist_creation_date }}</td><td>{{ playlist.playlist_description }}</td></tr>
			 					<!-- todo: add 'view all' button and page-->
			 					{% endfor %}
		 					</table>


	 				</div>
	 			</div>

	 		</div>

	 		<div class="col-md-2">
	 			<div class="card gedf-card">
	 				<div class="card-body">
	 					<h2>Profile</h2>
	 						{{ profile_information }}
	 				</div>
	 			</div>

	 		</div>

		</div>
	</div>

{% endblock %}
