<!DOCTYPE html>
{% extends "base_generic.html" %}

{% block content %}
	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-4 gedf-main">
	 			<div class="card gedf-card ">
	 				<div class="card-body">
	 					<h1>IP Playlists</h1>
		 					<table class="table table-hover">
		 						<tr scope="row"><th>Playlist Name</th><th>Owner</th><th>Closing Date</th></tr>
		 						<!-- Insert info -->
							</table>



	 				</div>
	 			</div>

	 			<div class="card gedf-card">
	 				<div class="card-body">
	 					<h1>Top 100</h1>
		 					<table class="table table-striped">
			 					<tr scope="row"><th>Playlist Name</th><th>Owner</th><th>Export</th></tr>
								<!-- Insert info -->
		 					</table>



	 				</div>
	 			</div>
	 			
	 		</div>

	 		<div class="col-md-4">
	 			<div class="card gedf-card public-playlists">
	 				<div class="card-body">
	 					<h1>Public Playlists</h1>
	 						<table class="table table-striped">
			 					<tr scope="row"><th>Playlist Name</th><th>Owner</th><th>Export</th></tr>
			 					<!-- Insert info -->
		 					</table>


	 				</div>
	 			</div>

	 		</div>

	 		<div class="col-md-4">
	 			<div class="card gedf-card">
	 				<div class="card-body">
	 					<h1>Profile</h1>
	 					<h2><img src="exampleProfile.png" width="50" height="50" class="logo"> BILLY</h2>
	 					<p class="contrNum">16 Contributions</p> <!-- contrNum = # number of contributions -->


	 				</div>
	 			</div>

	 		</div>

		</div>
	</div>

{% block content %}
