{% extends "base_generic.html" %}

{% block content %}
	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-4 gedf-main">
	 			<div class="card gedf-card ">
	 				<div class="card-body">
	 					<h1>IP Playlists</h1>
		 					<table class="table table-hover">
		 						{% for playlist in IP_playlists %}
		 						<tr scope="row"><th>{{ playlist.playlist_name }}</th><th>{{ playlist.playlist_creator_id }}</th><th>{{ playlist.playlist_vote_time }}</th></tr>
		 						{% endfor %}
							</table>



	 				</div>
	 			</div>

	 			<div class="card gedf-card">
	 				<div class="card-body">
	 					<h1>Top 100</h1>
		 					<table class="table table-striped">
		 						{% for playlist in top_100 %}
			 					<tr scope="row"><th>{{ playlist.playlist_name }}</th><th>{{ playlist.playlist_creation_date }}</th><th>{{ playlist.playlist_description }}</th></tr>
			 					{% endfor %} <!-- todo: add 'view all' button and page-->
		 					</table>



	 				</div>
	 			</div>
	 			
	 		</div>

	 		<div class="col-md-4">
	 			<div class="card gedf-card public-playlists">
	 				<div class="card-body">
	 					<h1>Public Playlists</h1>
	 						<table class="table table-striped">
	 							{% for playlist in public_playlists %}
			 					<tr scope="row"><th>{{ playlist.playlist_name }}</th><th>{{ playlist.playlist_creation_date }}</th><th>{{ playlist.playlist_description }}</th></tr>
			 					<!-- todo: add 'view all' button and page-->
			 					{% endfor %}
		 					</table>


	 				</div>
	 			</div>

	 		</div>

	 		<div class="col-md-4">
	 			<div class="card gedf-card">
	 				<div class="card-body">
	 					<h1>Profile</h1>
	 						{{ profile_information }}
	 				</div>
	 			</div>

	 		</div>

		</div>
	</div>

{% endblock %}
