{% extends "base_generic.html" %}

{% block content %}

	 <div class="container-fluid gedf-wrapper">

	 	<div class="row">

	 		<div class="col-md-6 gedf-main working-playlist">
	 			<div class="card gedf-card playlist-card">
	 				<div class="card-body">
	 					<h1>In Progress Playlists</h1>
						<!-- Link to playlist settings -->
	 					<table class="table table-hover">
	 						<tr scope="row"><th>Playlist name</th><th>Owner</th><th>Closing Date</th></tr>
	 						{% for playlist in My_IP_Playlists %}
	 						<tr><td class="playlistName"><a href="currentPlaylist.html">{{ playlist.name }}</a></td><td>{{ playlist.creator }}</td><td class="vote">{{ playlist.voteTime }}</td></tr>
	 						{% endfor %}
	 					</table>
	 				</div>
	 			</div>
	 			
	 		</div>

	 		<div class="col-md-6 gedf-main working-playlist">
	 			<div class="card gedf-card playlist-card">
	 				<div class="card-body">
	 					<h1>Finished playlists</h1>
						<!-- Link to playlist settings -->
	 					<table class="table table-hover">
	 						<tr scope="row"><th>Playlist Name</th><th>Owner</th><th>Export to Spotify</th></tr>
	 						{% for playlist in My_Finished_Playlists %}
	 						<tr><td class="playlistName"><a href="currentPlaylist.html">{{ playlist.name }}</a></td><td>{{ playlist.creator }}</td><td class="vote">{{ playlist.export }}</td></tr>
	 						{% endfor %}
	 					</table>
	 				</div>
	 			</div>

	 		</div>

		</div>
	</div>
{% endblock %}
                    
