{% extends "base_generic.html" %}

{% block content %}

	<!-- Beginning of Page -->
	<div class="container-fluid gedf-wrapper">
	
		<div class="row">
		
		<!-- main cards -->
			<div class="col-md-8 gedf-main playlist-settings">
				<div class="card gedf-card ps-body">
					<div class="card-body">
						<!-- General Settings -->
						<div class="ps-general">
							<h1>General Settings</h1>
							
							<table class="table table-striped">
							<form>
							<tr><td>Playlist Name: <input type="text" name="playlistname" style="width: 200px;">
							</form>
							</tr></td>
							<tr><td><p>Playlist Description:</P>
							<form>
							<textarea name="playlist-description" rows="4" cols="40">{{ playlist.playlist_description }}</textarea>
							</form>
							</tr></td>
							<tr><td><p>Playlist Access:</p>
							<form>
								<input type="radio" name="Access" value="public" checked> Public
								<input type="radio" name="Access" value="private"> Private
							</form>
							</tr></td>
							</table>
							
						</div>
					</div>
					<div style="text-align: center;">
					<button type="button" onclick="alert('Settings Saved.')" style="height:30px;width:120px">Save Changes</button>
					</div>
					<br>
				</div>
			</div>
			
			<!-- side cards -->
			<div class="col-md-4">
				<!-- Voting Settings -->
				<div class="card gedf-card voting-settings">
					<div class="card-body">
						<h1>Voting Settings</h1>
						
						<table class="table table-striped">
							<form>
							<tr><td>Vote Period: {{ date_field }} </td></tr>
							<tr><td>Vote Threshold: {{ threshold_field }}</td></tr>
							</form> <!-- TODO: Edit this so that it displays the current vote period and current vote threshold prior to setting a new one. 
										 Need to decide if we want to allow the period/threshold to change after the original values are set. -->


										 <!-- TODO: Make a playlist creation page for playlists that don't already exist!!!!!!! -->
							
						</table>
					</div>
				</div>

				<div class="card gedf-card voting-settings">
					<div class="card-body">
						<h1>Contributor Settings</h1>
						
						<table class="table table-striped">
							<form>
							<tr><td>Add Contributor: <input type="text" name="votingperiod" style="width: 50px;"></td></tr>
							<tr><td>Search Contributors: <input type="text" name="votingthreshold" style="width: 50px;"></td></tr>
							</form>
							
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>

{% endblock %}
