{% extends "base_generic.html" %}

{% block content %}
	<!-- Beginning of Page -->
	<div class="container-fluid gedf-wrapper">
	
		<div class="row">
		
		<!-- main cards -->
			<div class="col-md-4 your-contributions">
				<div class="card gedf-card ps-body">
					<div class="card-body">
						<!---contributions-->
						<div class="ps-general">
							<h2>Your Contributions</h2>
								<table class="table table-hover">
									<tr scope="row"><th>Playlist Name</th><th>Owner</th><th>Date Added</th></tr>
							{% for song in songs %}
							<tr><td class="songName">{{ song.title }}</td><td>{{ song.artist }}</td><td class="vote">Oct 1 2018</td></tr>
	 					
							{% endfor %}
						</table>
	 					<table class="table table-hover">
								<tr scope="row"><th>Playlist Name</th><th>Owner</th><th>Date Added</th></tr>
	 						<tr><td class="songName">Song Name</td><td>artist</td><td class="vote">Oct 1 2018</td></tr>
	 						<tr><td class="songName">Song Name</td><td>artist</td><td class="vote">Oct 1 2018</td></tr>
	 						<tr><td class="songName">Song Name</td><td>artist</td><td class="vote">Oct 1 2018</td></tr>
	 						<tr><td class="songName">Song Name</td><td>artist</td><td class="vote">Oct 1 2018</td></tr>
	 						<tr><td class="songName">Song Name</td><td>artist</td><td class="vote">Oct 1 2018</td></tr>
	 					</table>
						</div>
					</div>
					<br>
				</div>
			</div>

			<div class="col-md-6">
				<!---Suggestions-->
				<div class="card gedf-card your-suggestions">
					<div class="card-body">
						<h2>Profile Overview</h2>
						<div class="card gedf-card">
	 						<div class="card-body">
	 							{{ profile_overview }}
	 						</div>
	 					</div>
					</div>
				</div>

				<div class = "card gedf-card user-settings">
					<div class="card-body">
						<h2>User Settings</h2>
							<br>
							<h4>Email Address:</h4>
							<table class="table table-striped">
        						<tr><td>{{ user_email }}</td></tr>
                                <tr><td>Change Email Address: <input type="text" name="email address" style="width: 200px;"></td></tr>
							</table>
                                <button type="button" onclick="alert('Email Changed.')" style="height:30px; width:120px">Change Email</button>
							<br>
                            <br>
							<h4>Change Password:</h4>
							<br>
								<tr><td>Current Password: <input type="text" name="current_pass" style="width: 200px;"></tr></td>
								<p></p>
								<tr><td>New Password: <input type="text" name="new_pass" style="width: 200px;"></tr></td>
								<p></p>
								<tr><td>Confirm New Password: <input type="text" name="confirm_pass" style="width: 200px;"></tr></td>
						
									<br><br>
									<button type="button" onclick="alert('Password Changed.')" style="height:30px;width:200px">Change Password</button>
							<br>
							<br>
							<h4>Default Privacy Settings: </h4>
								<br>
								<form>
								<input type="radio" name="Access" value="public_priv" checked> Public<br>
								<input type="radio" name="Access" value="private_priv"> Private (only friends)<br>
								<input type="radio" name="Access" value="anon_priv"> Private (only you)<br>
							</form>
						
					</div>
				</div>
			</div>
				<!--	<div class = "card gedf-card user-settings">
						<div class="card-body">
							<h1>User Settings</h1>
								<tr><td>Email Address:</td><td> Billy@example.com</td></tr>
								<br>
								<tr><td>User Setting 1: <input type="text" name="playlistname" style="width: 200px;"></td></tr>
								<br>
								<tr><td>User Setting 2: <input type="text" name="playlistname" style="width: 200px;"></td></tr>
						</div>
					</div>
				</div>
			-->

			
			<!-- side cards -->
			<div class="col-md-2">
				<!---Suggestions-->
				<div class="card gedf-card your-suggestions">
					<div class="card-body">
						<h2>Your Suggestions</h2>
						
							{{ playlist_suggestions }}
						
					</div>
				</div>

				<div class="card gedf-card your-statistics">
					<div class="card-body">
						<h2>Your Statistics</h2>

							{{ user_statistics }}
					</div>
				</div>

			
			</div>

			
		</div>
	</div>
{% endblock %}
