{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Catch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="author" content="COMPSCI 326">
  </head>

    <div id = "navbar" class="icon-bar">
      <img class="logo" src="{% static 'Logo.png' %}" alt="Logo">
      <a href="{% url 'homePage' %}">Home</a>
      <a href="{% url 'eventsPage' %}">Events</a>
      <a href="{% url 'mapPage' %}">Map</a>
      <a href="{% url 'profilePage' %}">Profile</a>
      <a href="{% url 'aboutPage' %}">About</a>
    </div>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
