{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Catch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="author" content="COMPSCI 326">
  </head>

  <body>
    <div id = "navbar" class="icon-bar">
        <img class="logo" src="{% static 'Logo.png' %}" alt="Logo">
        <a href="{% url 'homePage' %}">Home</a>
        <a href="{% url 'eventsPage' %}">Events</a>
        <a href="{% url 'mapPage' %}">Map</a>
        <a href="{% url 'profilePage' %}">Profile</a>
        <a href="{% url 'petPage' %}">Pets</a>
      </div>
    {% if user.is_authenticated %}
      <button onclick="window.location.href='{% url 'logout' %}'">Log Out</button>
      {% block content %}
      {% endblock %}
    {% else %}
      <h4>Please <button onclick="window.location.href='{% url 'login' %}'">login</button> to see more details.</h4>
      <!-- Implement signup later.
      <h4>If you don't have an account, <button onclick="window.location.href='{% url 'user-sign-up' %}'">click here to sign up!</button> </h4> -->
    {% endif %}
  </body>
</html>
