{% extends "navbar.html" %}
{% block content %}

{% load staticfiles %}

<button onclick="window.location.href='{% url 'Pet-add' %}'">Add Pet</button>

  <div class="container">
    {% if pet_list %}
      {% for pet in pet_list %}
        <div class="row">
          <div class="col-sm-4" style="background-color:white;">
            <img src="{{ pet.image.url }}" alt="black lab">
          </div>
          <div class = "col-sm-8" style = "background-color:white;">
            <p>Name: {{ pet.name}}</p>
            <p>Breed: {{ pet.breed}}</p>
            <p>Description: {{ pet.description}}</p>
            <p>Owner: {{ pet.owner}}</p>
          </div>
        </div>
        {% endfor %}
    {% else %}
    <p>There are no pets available.</p>
    {% endif %}
  </div>



{% endblock %}
