
{% extends "navbar.html" %}
{% block content %}

{% load staticfiles %}


  <div id="user-profile" class="container">
    <div class="row">
      <div class="col-sm-4">
        {% if user.image %}
          <img src="{{ user.image.url }}" class="img-square" alt="profilepicture">
        {% endif %}
      </div>
      <div class="col-sm-8">
        <p>Username: {{user.username}}</p>
        <p>First name: {{user.first_name}}</p>
        <p>Last name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Location: {{user.location}}</p>
        <p>Description: {{user.description}}</p>
      </div>
    </div>
  </div>

<button onclick="window.location.href='{% url 'user-edit-profile' %}'">Edit Your Profile</button>
<button onclick="window.location.href='{% url 'Pet-add' %}'">Add Pet</button>

<!-- <div class="container">
    {% if pets %}
      {% for pet in pets %}
        {% if pet.owner.username == user.username %}
          <div class="row">
            <div class="col-sm-4" style="background-color:white;">
              {% if pet.image %}
                <img src="{{ pet.image.url }}" alt="pet image">
              {% endif %}
            </div>
            <div class = "col-sm-8" style = "background-color:white;">
              <p>Pet Name: {{ pet.name}}</p>
              <p>Breed: {{ pet.breed}}</p>
              <p>Description: {{ pet.description}}</p>
              <p>Owner: {{ pet.owner}}</p>
            </div>
        {% endif %}
        </div>
        {% endfor %}
    {% endif %}
  </div> -->



{% endblock %}
