
{% extends "navbar.html" %}
{% block content %}

{% load staticfiles %}


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ user.image.url }}" class="img-square" alt="profilepicture">
      </div>
      <div class="col-sm-8">
        <p>Username: {{user.username}}</p>
        <p>First name: {{user.first_name}}</p>
        <p>Last name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Location: {{user.location}}</p>
        <p>Description: {{user.description}}</p>
      </div>
    </div>
  </div>

<button><a href="{% url 'user-edit-profile' %}">Edit Your Profile</a></button>
<!-- <button><a href="{% url 'user-view-profile' %}">View My Profile</a></button> -->
<button><a href="{% url 'Pet-add' %}">Add Pet</a></button>



{% endblock %}
