{% load static %}
<!doctype html>
<html lang="en">
  <head>
     
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block custom_css %}
    {% endblock custom_css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/standard.css" %}">

    <title>{% block title %} untitled {% endblock title %} - Austra </title>
  </head>
  <body>
  	<div class="container-fluid">
      <!-- nav bar -->
      <nav class="navbar navbar-expand-lg navbar-default">
        <a class="navbar-brand" href="/">
        <img src="{% static "img/chicken.png" %}" width="40" height="40" class="" alt=""> 
      </a>
      </button>
          <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'index' %}">Austra</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" >Log in / Register</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link " href="{% url 'calendar' %}" >Calendar</a>
          </li>
          <li class="nav-item">
          <a class="nav-link " href="#" >Tree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" >Class List</a>
          </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Teacher List</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {% block custom_js %}
    {% endblock custom_js %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>