{% extends "base.html" %}
{% block title %} {{ course.name}} {% endblock %}

{% block content %}
  <body>
  	<div class="container">
      <div class="row">
        <div class="col">
          <h1>{{course.name}}</h1>
          <p>Rating:  {{course.rating}} </p>
          <form method="post">
              <p>Updooted:  {{user.profile.updooted.all}} </p>
              <p>Downdooted:  {{user.profile.downdooted.all}} </p>
              {%if course not in user.profile.updooted.all %}
                {%if course not in user.profile.downdooted.all %}
                  {% csrf_token %}
                  <button type="submit button" class="btn btn-success" name="upd">Updoot</button>
                  <button type="submit button" class="btn btn-danger" name="downd">Downdoot</button>
                {% endif %}
              {% endif %}
          </form>
          <p>Sessions: </p>
          {% for session in course.session_set.all %}
          <p>{{session.start_time.time}}</p>
          {% endfor %}
          <form action="" method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" name = "comment_form_post" value="Submit">
          </form>
            {% for comment in course.comment_set.all %}
            <p> <strong>Name:</strong>  {{comment.name}}  <strong> Posted: </strong> {{comment.date}}</p>
            <p>  <strong>Comment:</strong>  {{comment.comment_text}}

            {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}
