{% extends 'base.html' %}
{% load static %}
{% block title %} tree view {% endblock title %}
{% block custom_css%}
<link rel="stylesheet" href="{% static "css/Treant.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/tree_formating.css" %}" type="text/css"/>
{% endblock %}
{% block content %}
  	<div class="container-fluid">
      <!-- Here is where the nav bar would go -->
      <div class="row">
        <div class="col-12">
          <p> Navagation goes here </p>
        </div>
      </div>

  		<div class="row">
        <!-- Simple Tree -->
        <div id="tree-simple" class="col-12"> </div>

        <!-- tree scripts -->
        {% block custom_js%}
        <script src="{% static "js/Treant.js" %}"></script>
        <script src="{% static "js/raphael.min.js" %}"></script>
        <script>
                      simple_chart_config = {
                  chart: {
                      container: "#tree-simple",
                      rootOrientation: 'NORTH',
                      hideRootNode: true,
                      siblingSeparation:   40,
                      subTeeSeparation:    30,
                      connectors: {
                          type: 'curve'
                      },
                      node: {
                          HTMLclass: 'class_node'
                      }
                  },
                  
                  nodeStructure: {
                      text: {},
                      children: [
                          {
                              text: { name: "CmpSci 121", title:"This is where you start"},
                              children: [
                                  {
                                      text: { name: "CmpSci 187", title:"Learn about data structures"},
                                      children: [
                                          {
                                              text: { name: "CmpSci 220", title: "Functional Programming"}
                                          },
                                          {
                                              text: { name: "CmpSci 230", title: "Low level programming"}
                                          },
                                          {
                                              text: { name: "CmpSci 240", title: "Probability and statistics"}
                                          },
                                          {
                                              text: { name: "CmpSci 250", title: "A logic class"}
                                          },
                                      ]
                                  },
                              ]
                          },
                          {
                              text: { name: "Math 131", title:"AKA Calc 1" },
                              children: [
                                  {
                                      text: { name: "Math 132", title:"AKA Calc 2" },
                                      children: [
                                          {
                                              text: { name: "Math 233", title:"AKA Calc 3" }
                                          }
                                      ]
                                  }
                              ]
                          }
                      ]
                  }
              };/**/
        </script>
        <script>
          var my_chart = new Treant(simple_chart_config);
        </script>
        {% endblock %}
  		</div>
  	</div>
      {% endblock %}
