<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Flick</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="icon" href="https://img.icons8.com/metro/1600/movie-projector.png">
  <title>Flick</title>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <link rel="stylesheet" href="{% static 'css/movie.css' %}">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
      <i class="fas fa-film"></i>
      Flick
    </a>
    {% if user.is_authenticated %}
      <p class="navbar-brand">User: <a href="{% url 'user' user.get_username%}">{{user.get_username}}</a></p>
      <a class="navbar-brand" href="{% url 'logout' %}">Logout</a></p>
    {% else %}
      <a class="navbar-brand" href= "{% url 'login' %}">Login</a></p>
      <a class="navbar-brand" href= "{% url 'signup' %}">Sign up</a></p>
    {% endif %}
  </nav>
  {% block content %}{% endblock %}

</body>

<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

</html>
