{% extends "base_generic.html" %}
<link rel="stylesheet" href="css/user.css">
{% block content %}
<div class="user-name">
	<img id="user-pic" src={{pic}}>
	<h1>{{profileUsername}}</h1>
</div>

<div class="user-bio">
	<h4 class="bio-label">Gender: </h4>
	<p>{{gender}}</p>
	<h4 class="bio-label">Bio: </h4>
	<p>{{bio}}</p>
	
</div>
{% if request.user.profile.profileUsername == profileUsername %}
<div class="user-editForm">
	<form method="post">
	{% csrf_token %}	
	{% for field in form %}
        <p class="form-tag">
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: white">{{ field.help_text }}</small>
          {% endif %}
        </p>
	{% endfor %}
	<button class="signup-btn btn" type="submit">Edit Profile</button>
    </form>
</div>
{% endif %}
<div class="match-list">
	<h4>Upcoming Matches</h4>
	{% if match_list %}
	{% for m in match_list %}
	<div class="match-item">
		<h5>{{m.movie}}</h5><br />
		{{m.request.date}}<br />
		{{m.request.time}}
	</div>
	{% endfor %}
	{% endif %}
</div>
<div class="fav-movie">
	<h4>FAVORITE MOVIES:</h4>
	<ul class="fav-movie-list">
		<img src="../../static/images/deadpool.jpg">
		<img src="../../static/images/harrypotter.jpg">
	</ul>
</div>
{% endblock %}