img.profile {
	height:100px;
	width:100px;
	margin-right: 10px;
}
h2.profile {
	display: inline;
}
span.block {
	display: block;
}
.shaded {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #000;
	padding: 10px;
}
.navbar-default {
	background-color: #d33046;
	border-color: #E7E7E7;
  }