body {
	background-color: black;
	color: white;
    font-family: arial, sans-serif;
}
.column {
	width: 45%;
	display:inline-block;
	float: left;
}
#navbar {
	width: 100%;
	margin:0;
	background-color: blue;
	padding: 3px;
}
#navbar li {
	display: inline-block;
	color: white;
	padding-left: 15px;
}
#navbar ul {
	text-align: right;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#bio {
	padding: 15px;
	margin-top: 50px;
	border-radius: 25px;
	border-style:solid;
	background-color: gray;
}
