
.modal-dialog {
  max-width:900px;
}
.modal .modal-body {
  overflow-y: auto;
  max-height:400px;
}

.card-header{
  background-image: url(../img/add.png);
  background-position: right;
  background-position:97%;
  background-repeat: no-repeat;
}

.search-box{
  background-image: url(../img/search.png);

  background-position: right;
  background-position:97%;
  background-repeat: no-repeat;
}

.sessionList{
      display: inline-block;
}
